.PetAdoptionForm .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.PetAdoptionForm label {
  flex: 0 0 150px;
  margin-right: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.PetAdoptionForm .form-control {
  flex-grow: 1;
  align-items: center;
  margin-bottom: 1rem;
}

.PetAdoptionForm .form-check {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.PetAdoptionForm .form-check-label {
  margin-left: 0.5rem;
}

.input-margin {
  margin-left: 1rem;
}


.PetAdoptionForm input[type="checkbox"] {
  margin-right: 0.5rem;
}

.PetAdoptionForm .form-check-input {
  border: 2px solid #007bff;
  width: 20px;
  height: 20px;
  appearance: none;
  border-radius: 4px;
}

.PetAdoptionForm .form-check-input:checked {
  border: 2px solid #348ef5;
}

.PetAdoptionForm .form-check-input:checked::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: #348ef5;
}

.checkbox-section {
  display: flex; 
  flex-wrap: nowrap; 
  margin-top: 1rem; 
}

.checkbox-section .form-group {
  margin-bottom: 0; 
}

.PetAdoptionForm .btn-primary {
  background-color: #fe8780 !important;
  border-color: #fe8780 !important;
}