.search-bar-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  text-decoration-color: black;
}

.search-bar-wrapper .form-control {
  max-width: 1400px;
  width: 100%;
  text-align: center;
  border: 2px solid #559DEF;
  outline: none;
  border-radius: 4px;
  font-weight: 450;
  font-style: normal;
  font-size: 18px;
}

.search-bar-wrapper .form-control::placeholder {
  color: #333;
  opacity: 1;
  font-weight: 450;
  font-size: 18px;
}